h1, h2, h5 {
    padding: 0;
    margin: 11px 11px 11px 11px;
}
button {
    padding: 11px 11px 11px 11px;
    margin: 0;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
